.ul {
    display: flex;
    gap: 16px;
    list-style: none;
    margin-right: 35px;
}

.currentPage {
    border-radius: 50%;
    border-top: 3px solid rgb(255, 0, 0);
}

@media (max-width: 386px) {
    .ul {
        gap: 10px;
    }
}
