.title_comic_div {
    background-color: white;
    width: 300px;
    border: 3px solid black;
    text-align: center;
    border-radius: 50%;
}

.description_comic_div {
    margin-top: 5%;
    border-radius: 10%;
    border: 3px solid black;
    text-align: center;
    background-color: white;
}
