.title_comic_div {
    background-color: white;
    width: 110%;
    height: 30%;
    border: 3px solid black;
    text-align: center;
    border-radius: 50%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-right: none;
    border-left: none;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.description_comic_div {
    width: 400px;
    height: 400px;
    overflow-y: auto;
    margin-top: 5%;
    border: 3px solid black;
    text-align: center;
    background-color: white;
}

@media (max-width: 590px) {
    .description_comic_div {
        width: 100%;
    }
}
