@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
.cardArticle {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
}

.cardArticle, .heroCount {
    font-family: 'Fira Sans', sans-serif;
}

.heroCount {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}

