@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
.cardArticle {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
    font-family: 'Fira Sans', sans-serif;
}

.heroCount {

}