@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

.searchBar {
    font-family: 'Comic Sans MS', 'Comic Neue';
    font-size: 1rem;
    color: black;
    box-shadow: 25px 3px 39px 1px rgba(0, 0, 0, 0.56);
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 35px;
    width: 25rem;
    height: 3rem;
    margin: 2% auto;
    border-style: none;
    text-align: center;
    transition: box-shadow 0.4s;
    border: 3px solid black;
    outline: none;
}

.searchBar:hover,
.searchBar:active {
    box-shadow: 25px 0px 39px 0px rgba(122, 122, 122, 0.56);
}

@media (max-width: 960px) {
    .searchBar {
        box-shadow: none;
    }
}

@media (max-width: 425px) {
    .searchBar {
        width: 100%;
    }
}
