@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.nav {
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    margin-top: -0.4%;
    height: 8%;
    align-items: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.marvelLogo {
    margin-top: 0.5rem;
    margin-left: 1rem;
    height: 70%;
}

.menuDiv {
    display: none;
}


.ul {
    margin-left: 20%;
    align-self: center;
}

.li {
    color: rgb(0, 0, 0);
    padding-left: 35px;
    display: inline-block;
    list-style-type: none;
    transition-property: transform;
    transition: 0.25s ease;
    
}

.li::after {
  content: '';
  border-top: 4px solid rgb(255, 0, 0);
  width: 100%;
  display: block;
  transform: rotateY(90deg);
  transition:transform 0.25s linear;
}

.li:hover {
    transform: scale(1);
}

.li:hover::after {
    transform: rotate(0deg);
}

@media (max-width: 700px) {
    
    .ul {
        display: none;
    }

    .menuDiv {
        display:flex;
        justify-content: flex-end;
        width: 100%;
        margin-right: 1%;
    }

    .menuIcon {
        width: 40px;
    }

}

@media (max-width: 360px) {
    .marvelLogo {
        width: 100%;
    }

    .menuIcon {
        width: 30px;
    }
    
}