
.characterSection {
    max-width: 400px;
    max-height: 500px;
    padding: 20px;
    margin-left: 5%;
    margin-top: 7vh;
    color: black;
    background-color: white;
}

.marvelCharacter {
    color: #505050;
}

.heroName {
    font-size: 4em;
    color: #8A2D5E;
    margin-top: -1%;
}

.heroDescription {
    opacity: 63%;
}

.divAbout {
    text-align: center;
}

.heroAbout {
    text-align: center;
    width: 80%;
    height: 50px;
    margin-top: 20%;
}

@media (max-width: 398px) {
    .heroName {
        font-size: 2.5em;
    }
}

