@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

.containerCard {
    display: flex;
}

.card {
    width: 370px;
    background-color: #242424;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.5s;
}

.card a {
    color: inherit;
    text-decoration: none;
}

.card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}


.cardThumb {
    height: 245px;
    overflow: hidden;
    background-color: #000;
    transition: height 0.5s;
}

.cardThumb img {
    width: 100%;
    display: block;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s,;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s,;
}

.card:hover .cardThumb {
    height: 130px;
}

.card:hover .cardThumb img {
    opacity: 0.6;
    transform: scale(1.2);
}


/**
* card_BODY
**/

.cardBody {
    position: relative;
    height: 185px;
    padding: 20px;
    transition: height 0.5s;
}

.card:hover .cardBody {
    height: 300px;
}


.cardTitle {
    margin: 0;
    padding: 0 0 10px 0;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.cardSubtitle {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 19px;
    color: rgb(255, 255, 255);
    opacity: 50%;
}

.cardDescription {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 56px;
    margin: 0;
    padding: 0;
    color: #666C74;
    line-height: 27px;
    opacity: 0;
    transform: translateY(45px);
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    transition-delay: 0s;
}

.card:hover .cardDescription {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.2s;
}




